html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  --card-text-color: black;
  --box-shadow-color: rgb(51, 51, 51);
  --default-card-bg-color: rgba(255, 255, 255, .5);
  --contact-card-bg-color: rgba(255, 255, 255, 0.2);
  --about-card-bg-color: rgba(255, 255, 255, 0.8);
  --a-hover: rgba(0, 0, 0, 0.8);
  --a-text: white;
  --bg-url: url("/assets/images/bg.jpg");
  background-color: gray;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: 'League Spartan', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-attachment: fixed;
  background: var(--bg-url) no-repeat center center fixed;
  margin: 0;
  padding-top: 40px;
  font-size: 24px;
  color: white;
}

body.dark {
  --card-text-color: white;
  --box-shadow-color: rgb(201, 201, 201);
  --default-card-bg-color: rgba(0, 0, 0, 0.5);
  --contact-card-bg-color: rgba(0, 0, 0, 0.2);
  --about-card-bg-color: rgba(0, 0, 0, 0.8);
  --a-hover: rgba(255, 255, 255, .5);
  --a-text: black;
  /* --bg-url: url("/assets/images/heidelberg_night.jpg"); */
}

.background {	
	border-radius: 5px;
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
}

.background:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
	filter: blur(10px);
	margin: -20px;
}

nav {
  box-shadow: 0 4px 5px var(--box-shadow-color);
}

#hero p{
  font-size: 3rem;
}

.hero-title {
  font-size: 6rem;
}

.about-img {
  width: 90%;
  border-radius: 50%;
  box-shadow: 2px 2px 12px 5px var(--box-shadow-color);
}

.about-title {
  font-size: 5rem;
  font-weight: 600;
}

#about {
  margin: 10rem 0;
}

#about p {
  color: var(--card-text-color);
}

#about .default-card {
  background-color: var(--about-card-bg-color);
}

.skills-title {
  text-align: center;
  font-size: 5rem;
}

.skill-icon {
  width: 100%;
  height: 35%;
}

.work-title {
  text-align: center;
  font-size: 5rem;
}

.card {
  color: var(--card-text-color);
  background-color: var(--about-card-bg-color);
  box-shadow: 2px 2px 12px 5px var(--box-shadow-color);
  border-radius: 10px;
}

.card-title {
  font-size: 4rem;
}

.card img {
  border-radius: 10px;
}

.card-items {
  padding: 5rem;
  color: rgb(0, 0, 0);
  transition: .5s;
  opacity: 0;
}

.card-text {
  margin: 6rem;
}

.card a {
  font-size: 2rem;
  background: var(--default-card-bg-color);
  color: var(--card-text-color);
  border-radius: 5px;
  border: solid 3px var(--card-text-color);
}

.card a:hover {
  background: var(--a-hover);
  color: var(--a-text);
}

.card:hover .card-img{
  filter: blur(20px);
}

.card:hover .card-items{
  opacity: 1;
}

#resume {
  margin: 5rem 5rem;
}

.resume-title {
  text-align: center;
  font-size: 5rem;
}

#resume a {
  color: var(--card-text-color);
  font-size: 4rem;
  width: 100%;
  background-color: var(--about-card-bg-color);
  box-shadow: 2px 2px 12px 5px var(--box-shadow-color);
  border-radius: 10px;
}

.contact-title {
  text-align: center;
  font-size: 5rem;
}

.contact-icon {
  width: 100%;
  height: 66%;
}

#contact .default-card {
  padding: 0;
  margin: 0;
  border-radius: 2rem;
  background-color: var(--contact-card-bg-color);
}

.default-card {
  background-color: var(--default-card-bg-color);
  padding: 25px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 12px 5px var(--box-shadow-color);
}

@media screen and (max-width: 768px) {
  body { padding-top: 30px; }
}