html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: gray;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: 'League Spartan', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  font-size: 24px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
  "nav"
  "about"
  "skills"
  "work"
  "resume"
  "contact";
}

nav {
  width: 100vw;
  position: fixed;
  z-index: 1;
  background-color: #52b788;
  grid-area: nav;
}

nav a {
  text-decoration: none;
  color: black;
}

nav h1 {
  font-size: 34px;
}

#nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}

#nav-menu {
  font-size: 28px;
  display: flex;
  gap: 15px;
  list-style-type: none;
}

#menu-button {
  display: none;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about {
  background-color: #d8f3dc;
  grid-area: about;
}

.skills {
  background-color: #b7e4c7;
  grid-area: skills;
}

.work {
  background-color: #d8f3dc;
  grid-area: work;
}

.resume {
  background-color: #b7e4c7;
  grid-area: resume;
}

.contact {
  background-color: #95d5b2;
  grid-area: contact;
}

#about img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 50%;
}